<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
<body>

     <h1>Scelta del tipo di elaborazione</h1>

     <a href="http://127.0.0.1:5000/inserimento">
       <input type="button"   class="btn btn-primary btn-lg" value="   Inserimento libri    " />
    </a>

    <a href="http://127.0.0.1:5000/chiamataREST"  method = "POST" >
       <input type="button"   class="btn btn-primary btn-lg" value="   Chiamata REST        " />
    </a>

     <a href="http://127.0.0.1:5000/robotAvanti"   method = "GET" >
       <input type="button"   class="btn btn-primary btn-lg" value="   Robot Avanti con messaggio MQTT   " />
    </a>



</body>
</html>